Package: com.icenut.photopluginactivator
Name: photopluginactivator
Depends: mobilesubstrate
Version: 2.5
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: _icenuts
Author: _icenuts
Section: Tweaks
Depends: org.thebigboss.photo2weibo(>=2.5), libactivator(>=1.6.2)