<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>photopluginauthorizeCodeListController</string>
			<key>label</key>
			<string>请输入激活码</string>
			<key>key</key>
			<string>code</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>key</key>
			<string>line1</string>
		</dict>
		<dict>
			<key>action</key>
			<string>redeem:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>激 活</string>
			<key>id</key>
			<string>redeemaction</string>
			<key>key</key>
			<string>deem</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>key</key>
			<string>line2</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string></string>
			<key>id</key>
			<string>status</string>
			<key>key</key>
			<string>state</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>key</key>
			<string>line3</string>
		</dict>
		<dict>
			<key>action</key>
			<string>restore:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>恢复授权</string>
			<key>id</key>
			<string>restoreaction</string>
			<key>key</key>
			<string>store</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>请保证网络通畅,输入激活码后激活插件,已经购买的用户，请点击恢复授权激活插件</string>
			<key>key</key>
			<string>detail</string>
		</dict>
		<dict>
			<key>action</key>
			<string>purchase:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>淘宝购买正版授权</string>
			<key>id</key>
			<string>purchaseaction</string>
			<key>key</key>
			<string>buy</string>
		</dict>
	</array>
	<key>title</key>
	<string>Share2Weibo</string>
</dict>
</plist>
