<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>通用设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>photopluginauthorizeListController</string>
			<key>label</key>
			<string>注册激活</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string> 触发手势</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.icenuts.photopluginactivator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>photopluginsupportListController</string>
			<key>label</key>
			<string>支持列表</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>截屏设置</string>
		</dict>
		<dict>
			<key>action</key>
			<string>getNoAssistiveTouch:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ClearScreenshot</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>点击下载插件，截屏时不再受AssistiveTouch的干扰</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Share2Weibo v2.4.2 © 2012 _iceNuts and William.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Share2Weibo</string>
</dict>
</plist>
